* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    text-align: center;
    background-color: #212121;
    color: #878787;
}

h1 {
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 1000;
    color: #FFFFFF;
    height: 34px;
    margin: 0px 0px 0px 0px;
}

h2 {
    position: fixed;
    top: 5px;
    left: 140px;
    margin: 0px 0px 0px 0px;
}

.hidden {
    display: none;
}

/* switch */

.switch {
    /* top: 10px; */
    /* right: 0px; */
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #BF498C;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* switch mode */

.switchMode {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switchMode input {
    opacity: 0px;
    width: 0px;
    height: 0px;
}

.sliderMode {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 34px;
}

.sliderMode:before {
    position: absolute;
    content: url("logoOFFswitch.png");
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 50%;
}


input:checked+.sliderMode:before {
    transform: translateX(26px);
    content: url("logoONswitch.png");
}



/* scheduler mode */

.scheduler {
    border: 2px solid #40B673;
    margin: 100px auto 0 auto;
    padding: 10px;
    border-radius: 34px;
    width: 100%;
    max-width: 400px;

}

.scheduler label {
    display: block;
    margin: 5 auto;

}

.scheduler button {
    display: block;
    margin: 0 auto;

}

/* status mode */

.status {
    border: 2px solid #BF498C;
    margin: auto;
    padding: 10px 10px;
    border-radius: 34px;
    width: 100%;
    max-width: 400px;
}

.circle {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: transparent;
}

.circle.filled {
    background-color: #BF498C;
}

/* manual mode */

.manual {
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    position: relative;
    border: 2px solid #BF498C;
    margin: 100px auto 0px auto;
    padding: 10px;
    border-radius: 34px;
    width: 100%;
    max-width: 400px;
    height: 100px;
}

.pumpSwitch {
    position: absolute;
    /* bottom: 0px;
    left: 100px; */
    transform: translate(-50%, -50%);
}

.valveSwitch {
    position: absolute;
    /* bottom: 0px;
    right: 100px; */
    transform: translate(-50%, -50%);
}

/* stream mode */

.stream {
    border: 2px solid #BF498C;
    margin: auto;
    padding: 10px;
    border-radius: 34px;
    width: 100%;
    max-width: 400px;
}